<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery(".content").hide();
            //toggle the componenet with class msg_body
            jQuery(".heading").click(function () {
                jQuery(this).next(".content").slideToggle(500);
            });
        });
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @if (ViewData["Changable"] == null)
    {
        ViewData["Changable"] = false;
    }

    @if (ViewData["MutedSound"] == null)
    {
        ViewData["MutedSound"] = false;
    }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <table style="width: 100%; vertical-align: top;">
                <tr>
                    <td style="vertical-align: top; padding-top: 8px;">
                        <p style="color:white; margin-left: -10px; vertical-align: top; padding-top: 6px; padding-left: 10px; font-size: 20px;">@Html.ActionLink("Belshaw's Pool Stats", "Index", null, new { @style = "color: white;" })</p>
                    </td>
                    <td style="vertical-align: top; padding-top: 8px;">
                        <div style="margin-right: 14px;">

                            @if (((bool)ViewData["MutedSound"]))
                            {
                                <a style="padding-right: 10px;" href='@Url.Action("Unmute", "Home")'>
                                    <img src='@Url.Content("~/Content/Images/mute.png")' style="width: 26px; padding-top: 7px;" />
                                </a>
                            }
                            else
                            {
                                <a style="padding-right: 10px;" href='@Url.Action("Mute", "Home")'>
                                    <img src='@Url.Content("~/Content/Images/unmute.png")' style="width: 26px; padding-top: 7px;" />
                                </a>
                            }

                            @if (((bool)ViewData["Changable"]))
                            {
                                <a href='@Url.Action("Lock", "Home")'>
                                    <img src='@Url.Content("~/Content/Images/unlocked.png")' style="width: 30px; padding-top: 7px;" />
                                </a>
                            }
                            else
                            {
                                <a href='@Url.Action("EnterPin", "Home")'>
                                    <img src='@Url.Content("~/Content/Images/locked.png")' style="width: 30px; padding-top: 7px;" />
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            </table>
            <div style="text-align:right; margin-right: -20px;">
                <table style="text-align:right; width: 100%; margin-top: -50px;">
                    <tr>
                        <td style="text-align: center;">
                            <div class="navbar-header" style="margin-top: -3px;">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse" style="margin-left: -20px;">
                                <ul class="nav navbar-nav">
                                    <li>
                                        @Html.ActionLink("Posts", "Posts")
                                    </li>
                                    <li>
                                        @if (((bool)ViewData["Changable"]))
                                        {
                                            @Html.ActionLink("Add / Modify Players", "CreatePlayers", "Home")
                                        }
                                        else
                                        {
                                            <a href='#' onClick='alert("You need to unlock (top right).")'>
                                                Add / Modify Players
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        @if (((bool)ViewData["Changable"]))
                                        {
                                            @Html.ActionLink("Create New Two Player Match", "Create2p", "Home")
                                        }
                                        else
                                        {
                                            <a href='#' onClick='alert("You need to unlock (top right).")'>
                                                Create New Two Player Match
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        @if (((bool)ViewData["Changable"]))
                                        {
                                            @Html.ActionLink("Create New Four Player Match", "Create4p", "Home")
                                        }
                                        else
                                        {
                                            <a href='#' onClick='alert("You need to unlock (top right).")'>
                                                Create New Four Player Match
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        @Html.ActionLink("Sound Archive", "SoundArchive")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Image Gallary", "ImageArchive")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Score Backups", "BackupArchive")

                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <center><img id="mainImage" style="text-align: center;" class="img-responsive" src="~/Content/Images/slide3_narrow.jpg" /></center>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
