<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <table style="width: 100%; vertical-align: middle;">

                <tr>
                    <td>
                        <span style="color:white; vertical-align: middle; padding-top: 25px; padding-left: 10px; font-size: 20px;">Belshaw's Pool Stats</span>
                    </td>
                    <td style="vertical-align: middle; padding-top: 8px;">

                        @if (ViewData["Changable"] == null)
                        {
                            ViewData["Changable"] = false;
                        }
                        @if (((bool)ViewData["Changable"]))
                        {
                            <span style="text-align: right;">@Html.ActionLink("Lock", "Lock", "Home")</span>
                        }
                        else
                        {
                            <span style="text-align: right;">@Html.ActionLink("Unlock", "EnterPin", "Home")</span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
