@model Tuple<List<PoolStats.Models.TwoPlayer>, List<PoolStats.Models.FourPlayer>, List<PoolStats.Models.Player>>

@{
    ViewBag.Title = "Belshaw's Pool Stats";

    if (ViewData["Changable"] == null)
    {
        ViewData["Changable"] = false;
    }

    List<PoolStats.Models.StatsViewModel> stats = new List<PoolStats.Models.StatsViewModel>();

    foreach (PoolStats.Models.TwoPlayer matches in Model.Item1)
    {
        string playerName = Model.Item3.Where(p => p.Id == Convert.ToInt32(matches.Player1)).FirstOrDefault().PlayerName;
        bool hasPlayerName = false;

        foreach (PoolStats.Models.StatsViewModel statsItem in stats)
        {
            if (statsItem.PlayerName == playerName)
            {
                hasPlayerName = true;
                statsItem.GamesWon = statsItem.GamesWon + matches.Score1;
                statsItem.GamesLost = statsItem.GamesLost + matches.Score2;
                statsItem.TotalGames = statsItem.GamesWon + statsItem.GamesLost;
            }
        }

        if (!hasPlayerName)
        {
            PoolStats.Models.StatsViewModel stat = new PoolStats.Models.StatsViewModel();

            stat.PlayerName = playerName;
            stat.GamesWon = matches.Score1;
            stat.GamesLost = matches.Score2;
            stat.PercentageWon = 0.0;

            stat.TotalGames = matches.Score1 + matches.Score2;

            stats.Add(stat);
        }
    }

    foreach (PoolStats.Models.TwoPlayer matches in Model.Item1)
    {
        string playerName = Model.Item3.Where(p => p.Id == Convert.ToInt32(matches.Player2)).FirstOrDefault().PlayerName;
        bool hasPlayerName = false;

        foreach (PoolStats.Models.StatsViewModel statsItem in stats)
        {
            if (statsItem.PlayerName == playerName)
            {
                hasPlayerName = true;
                statsItem.GamesWon = statsItem.GamesWon + matches.Score2;
                statsItem.GamesLost = statsItem.GamesLost + matches.Score1;
                statsItem.TotalGames = statsItem.GamesWon + statsItem.GamesLost;
            }
        }

        if (!hasPlayerName)
        {
            PoolStats.Models.StatsViewModel stat = new PoolStats.Models.StatsViewModel();

            stat.PlayerName = playerName;
            stat.GamesWon = matches.Score2;
            stat.GamesLost = matches.Score1;
            stat.PercentageWon = 0.0;

            stat.TotalGames = matches.Score1 + matches.Score2;

            stats.Add(stat);
        }
    }

    foreach (PoolStats.Models.StatsViewModel statsItem in stats)
    {
        double percentage = ((double)statsItem.GamesWon / (double)statsItem.TotalGames) * 100;
        statsItem.PercentageWon = percentage;
    }

    stats.Sort((y, x) => x.PercentageWon.CompareTo(y.PercentageWon));
}

<audio id="sndCheer" src="http://poolstats.jb-net.co.uk/Content/Sounds/cheer.wav" autostart="false"></audio>
<a onclick="PlayCheer()"></a>
<script>
    function PlayCheer() {
        var sound = document.getElementById("sndCheer");
        sound.play()
    }
</script>

<audio id="sndBoo" src="http://poolstats.jb-net.co.uk/Content/Sounds/boo.wav" autostart="false"></audio>
<a onclick="PlayBoo()"></a>
<script>
    function PlayBoo() {
        var sound = document.getElementById("sndBoo");
        sound.play()
    }
</script>

@{
    if (ViewData["PlaySound"] != null)
    {
        if (((string)ViewData["Sound"]) == "cheer")
        {
            <script>PlayCheer();</script>
        }
        else if (((string)ViewData["Sound"]) == "boo")
        {
            <script>PlayBoo();</script>
        }
    }
}

<div class="jumbotron">
    <h2>Current Stats</h2>
    <span style="font-size: 12pt;">2 Player match stats only...</span><br /><br />
    <p style="font-size: 12pt;">

        @{
            int i = 0;
        }

        @foreach (PoolStats.Models.StatsViewModel stat in stats)
        {
            string percentage = stat.PercentageWon.ToString("#.#") + "%";

            if (i == 0)
            {
                <span style="font-weight: bold; color: red;">@Html.DisplayFor(s => stat.PlayerName)&nbsp; &nbsp; (In the lead)</span> <br />
            }
            else
            {
                <span style="font-weight: bold;">@Html.DisplayFor(s => stat.PlayerName)</span> <br />
            }

            <span>Percentage Winning: </span><span style="color: red;">@Html.DisplayFor(s => percentage) </span><br />
            <span>Total Matches: @Html.DisplayFor(s => stat.TotalGames). Total Won: @Html.DisplayFor(s => stat.GamesWon) </span><br /><br />

            i++;

        }
    </p>
</div>

<div class="row" style="padding-left: 20px; padding-right: 20px; margin-top: -20px;">
    @if (((bool)ViewData["Changable"]))
    {
        @Html.ActionLink("Add Players", "CreatePlayers")
    }
    else
    {
        <a href='#' onClick='alert("You need to unlock (top right).")'>Add Players</a>
    }

    <br /><br />
    <h4>Two Player Scores</h4>
    <p style="padding-top: 10px">
        @if (((bool)ViewData["Changable"]))
        {
            @Html.ActionLink("Create New", "Create2p")
        }
        else
        {
            <a href='#' onClick='alert("You need to unlock (top right).")'>Create New </a>
        }
    </p>
    <table class="table" align="center" style="width: 100%; vertical-align: middle;">
        <tr>
            <th>
                <span>Player</span>
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                <span>Player</span>
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
        </tr>

        @foreach (var item in Model.Item1)
            {
            <tr>
                <td style="vertical-align: middle;">
                    <span>@Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Player1)).FirstOrDefault().PlayerName)</span>
                </td>
                <td style="white-space: nowrap; vertical-align: middle;">


                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Add2p", "Home", new { item.ID, s = "1" })'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>

                    }
                    <span>&nbsp;</span>
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Subtract2p", "Home", new { item.ID, s = "1" })'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a style="margin-right: -8px;" href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                </td>
                <td style="vertical-align: middle;">
                    <span>@Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Player2)).FirstOrDefault().PlayerName)</span>
                </td>
                <td style="white-space: nowrap; vertical-align: middle;">
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Add2p", "Home", new { item.ID, s = "2" })'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>

                    }
                    <span>&nbsp;</span>
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a style="margin-right: -20px;" href='@Url.Action("Subtract2p", "Home", new { item.ID, s = "2" })'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a style="margin-right: -20px;" href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                </td>
                <td style="vertical-align: middle;"></td>
                <td style="vertical-align: middle;">
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Delete2p", "Home", new { item.ID })'>
                            <img src='@Url.Content("~/Content/Images/delete.jpg")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/delete.jpg")' style="width: 25px" />
                        </a>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span style="font-weight: bold;">Scores:&nbsp;&nbsp;&nbsp;</span>
                    @Html.DisplayFor(modelItem => item.Score1)<span> / </span>@Html.DisplayFor(modelItem => item.Score2)

                </td>
                <td colspan="4">
                    @{
                        double total = (double)item.Score1 + (double)item.Score2;
                        double percentage1 = (double)item.Score1 / total * 100;
                        double percentage2 = (double)item.Score2 / total * 100;
                        string per1 = percentage1.ToString("#.##");
                        string per2 = percentage2.ToString("#.##");

                        if (item.Score1 == 0 && item.Score2 == 0)
                        {
                            <span style="color: red;">0</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">0</span><span style="color: red;">%</span>
                        }
                        else if (item.Score1 == 0 && item.Score2 != 0)
                        {
                            <span style="color: red;">0</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">@Html.DisplayFor(modelItem => per2)</span><span style="color: red;">%</span>
                        }
                        else if (item.Score1 != 0 && item.Score2 == 0)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => per1)</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">0</span><span style="color: red;">%</span>
                        }
                        else
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => per1)</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">@Html.DisplayFor(modelItem => per2)</span><span style="color: red;">%</span>
                        }
                    }
                </td>

            </tr>

                        }

    </table>
</div>
<br />
<div class="row" style="padding-left: 20px; padding-right: 20px; margin-top: -20px;">
    <h4>Four Player Scores</h4>
    <p style="padding-top: 10px">
        @if (((bool)ViewData["Changable"]))
        {
            @Html.ActionLink("Create New", "Create4p")
        }
        else
        {
            <a href='#' onClick='alert("You need to unlock (top right).")'>Create New </a>
        }
    </p>
    <table class="table" align="center" style="width: 100%; vertical-align: middle;">
        <tr>
            <th>
                <span>Players</span>
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                <span>Players</span>
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
        </tr>

        @foreach (var item in Model.Item2)
        {
            <tr>
                <td style="vertical-align: middle;">
                    <span style="margin-right: -150px;">
                        @Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Players1.Split(',')[0])).FirstOrDefault().PlayerName)<br />&amp;<br />
                        @Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Players1.Split(',')[1])).FirstOrDefault().PlayerName)
                    </span>
                </td>
                <td style="white-space: nowrap; vertical-align: middle;">
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Add4p", "Home", new { item.ID, s = "1" })'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    <span>&nbsp;</span>
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a style="margin-right: -5px;" href='@Url.Action("Subtract4p", "Home", new { item.ID, s = "1" })'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a style="margin-right: -5px;" href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                </td>
                <td style="vertical-align: middle;">
                    <span style="margin-right: -100px;">
                        @Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Players2.Split(',')[0])).FirstOrDefault().PlayerName)<br />&amp;<br />
                        @Html.DisplayFor(modelItem => Model.Item3.Where(p => p.Id == Convert.ToInt32(item.Players2.Split(',')[1])).FirstOrDefault().PlayerName)
                    </span>
                </td>
                <td style="white-space: nowrap; vertical-align: middle;">
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Add4p", "Home", new { item.ID, s = "2" })'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/add.png")' style="width: 25px" />
                        </a>
                    }
                    <span>&nbsp;</span>
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a style="margin-right: -20px;" href='@Url.Action("Subtract4p", "Home", new { item.ID, s = "2" })'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a style="margin-right: -20px;" href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/subtract.png")' style="width: 25px" />
                        </a>
                    }
                </td>
                <td style="vertical-align: middle;"></td>
                <td style="vertical-align: middle;">
                    @if (((bool)ViewData["Changable"]))
                    {
                        <a href='@Url.Action("Delete4p", "Home", new { item.ID })'>
                            <img src='@Url.Content("~/Content/Images/delete.jpg")' style="width: 25px" />
                        </a>
                    }
                    else
                    {
                        <a href='#' onClick='alert("You need to unlock (top right).")'>
                            <img src='@Url.Content("~/Content/Images/delete.jpg")' style="width: 25px" />
                        </a>
                    }

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span style="font-weight: bold;">Scores:&nbsp;&nbsp;&nbsp;</span>
                    @Html.DisplayFor(modelItem => item.Score1)<span> / </span>@Html.DisplayFor(modelItem => item.Score2)

                </td>
                <td colspan="4">
                    @{
                        double total = (double)item.Score1 + (double)item.Score2;
                        double percentage1 = (double)item.Score1 / total * 100;
                        double percentage2 = (double)item.Score2 / total * 100;
                        string per1 = percentage1.ToString("#.##");
                        string per2 = percentage2.ToString("#.##");

                        if (item.Score1 == 0 && item.Score2 == 0)
                        {
                            <span style="color: red;">0</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">0</span><span style="color: red;">%</span>
                        }
                        else if (item.Score1 == 0 && item.Score2 != 0)
                        {
                            <span style="color: red;">0</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">@Html.DisplayFor(modelItem => per2)</span><span style="color: red;">%</span>
                        }
                        else if (item.Score1 != 0 && item.Score2 == 0)
                        {
                            <span style="color: red;">@Html.DisplayFor(modelItem => per1)</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">0</span><span style="color: red;">%</span>
                        }
                        else
                        {

                            <span style="color: red;">@Html.DisplayFor(modelItem => per1)</span><span style="color: red;">%&nbsp;&nbsp; / &nbsp;</span>
                            <span style="color: red;">@Html.DisplayFor(modelItem => per2)</span><span style="color: red;">%</span>
                        }

                    }
                </td>

            </tr>
                        }
    </table>
    <br />

    <h4>Sound Archive</h4>
    <span style="font-size: 8pt;">Send me the links for the sounds you want me to add and I'll see what I can do.</span><br /><br />
    <p style="padding-top: 10px">
        <a href="#!" onclick='PlayCheer()'>Cheer</a>
    </p>
    <p style="padding-top: 10px">
        <a href="#!" onclick='PlayBoo()'>Boo</a>
    </p>

</div>

